astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.4
backcall==0.2.0
behave==1.2.6
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
element==0.1
extras==1.0.0
fixtures==3.0.0
fuzzywuzzy==0.18.0
idna==2.10
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.6
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
lettuce==0.2.23
linecache2==1.0.0
mccabe==0.6.1
mock==4.0.2
more-itertools==8.4.0
packaging==20.4
parse==1.16.0
parse-type==0.5.2
parso==0.7.1
pbr==5.4.5
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.9.0
pycodestyle==2.6.0
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
python-mimeparse==1.6.0
python-subunit==1.4.0
pywin32==228
pyzmq==19.0.2
requests==2.24.0
selenium==3.141.0
six==1.15.0
sure==1.4.11
testtools==2.4.0
toml==0.10.1
tornado==6.0.4
traceback2==1.4.0
traitlets==4.3.3
unittest2==1.1.0
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
